# Helicon ISAPI_Rewrite configuration file
# Version 3.1.0.41

# This should be omitted in the production environment
# SetEnv APPLICATION_ENV development
# AddType audio/mpeg son

RewriteEngine On
RewriteRule ^(.+)\.son$ $1.mp3 [NC,L]

RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]